In [50]:


import pandas as pd

def factorial(n):
    sum=1
    for i in range(1,n+1):
        sum*=i
    return sum

def combination(n,k):
    return int(factorial(n)/(factorial(n-k)*factorial(k)))

RECEIVE_SHEET_NAME='SYN-res.csv'
SEND_SHEET_NAME='SYN-snd.csv'

heading_res=('Thread','Port','Event','Index')
heading_snd=('Thread','Port','Event','Index')

Qs=[pd.DataFrame({})]
Qr=[pd.DataFrame({})]

Qr[0]=pd.read_csv(RECEIVE_SHEET_NAME,names=heading_res)
Qs[0]=pd.read_csv(SEND_SHEET_NAME,names=heading_snd)

r_list=list(range(1,len(Qr[0])+1))
r_list=list(map(lambda x:'r'+str(x),r_list)) #['r1', 'r2', 'r3', 'r4']
s_list=list(range(1,len(Qs[0])+1))
s_list=list(map(lambda x:'s'+str(x),s_list)) #['s1', 's2', 's3', 's4']

Qr[0].insert(0,'ID',r_list) #attach the name of event
Qs[0].insert(0,'ID',s_list) #attach the name of event

In [137]:
def SVQR(Qr,Qs):
    #総数の計算
    Q=pd.concat([Qs[0],Qr[0]]).sort_index()
    V=Qr[0].Port.unique()
    T=Q.Thread.unique()
    V_total_number=len(V)
    T_total_number=len(T)

    total_number=0

    for l in range(V_total_number):
        for i in range(0,T_total_number-1):
            for j in range(i+1,T_total_number):
                k=len(Q[(Q.Thread==T[i]) &(Q.Port==V[l])])
                n=k+len(Q[(Q.Thread==T[j]) &(Q.Port==V[l])])
                total_number+=combination(n,k)
    print(total_number)
    #total_number=

    #数値計算
    value=0
    for l in range(V_total_number):
        for i in range(0,T_total_number-1):
            for j in range(i+1,T_total_number):
                log=pd.DataFrame({})
                for loop in range(len(Qr)):
                    Q=pd.concat([Qs[loop],Qr[loop]]).sort_index()
                    array=Q[((Q.Thread==T[i]) &(Q.Port==V[l])) | ((Q.Thread==T[j]) &(Q.Port==V[l]))].Thread
                    array=array.reset_index()

                    log=log.append(array.Thread,ignore_index=True)

                log=log[~log.duplicated()]
                value+=len(log)
    print(value)
SVQR(Qr,Qs)

72
6

In [113]:
def Def_Use():

SyntaxError: unexpected EOF while parsing (<ipython-input-113-790e3dc28aa4>, line 1)

In [ ]:
def Plnv():

72
0

In [136]:
from IPython.display import display
Q=pd.concat([Qs[0],Qr[0]]).sort_index()
V=Qr[0].Port.unique()
T=Q.Thread.unique()
V_total_number=len(V)
T_total_number=len(T)

total_number=0

for l in range(V_total_number):
    for i in range(0,T_total_number-1):
        for j in range(i+1,T_total_number):
            k=len(Q[(Q.Thread==T[i]) &(Q.Port==V[l])])
            n=k+len(Q[(Q.Thread==T[j]) &(Q.Port==V[l])])
            total_number+=combination(n,k)
print(total_number)
#total_number=

#数値計算
value=0
for l in range(V_total_number):
    for i in range(0,T_total_number-1):
        for j in range(i+1,T_total_number):
            log=pd.DataFrame({})
            for loop in range(len(Qr)):
                Q=pd.concat([Qs[loop],Qr[loop]]).sort_index()
                array=Q[((Q.Thread==T[i]) &(Q.Port==V[l])) | ((Q.Thread==T[j]) &(Q.Port==V[l]))].Thread
                array=array.reset_index()
                
                log=log.append(array.Thread,ignore_index=True)
            
            log=log[~log.duplicated()]
            value+=len(log)

72

   index  Thread
0      0       1
1      0       2
2      1       2
3      3       1
4      4       1
5      4       2

   index  Thread
0      0       1
1      1       3
2      2       3
3      3       1
4      3       3
5      4       1

   index  Thread
0      0       1
1      2       4
2      3       1
3      4       1

   index  Thread
0      0       2
1      1       3
2      1       2
3      2       3
4      3       3
5      4       2

   index  Thread
0      0       2
1      1       2
2      2       4
3      4       2

   index  Thread
0      1       3
1      2       4
2      2       3
3      3       3

In [139]:
array=pd.Series([])

C:\Users\Satoshi Fujita\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [161]:
array

0    1
dtype: int64

In [166]:
Q=pd.concat([Qs[0],Qr[0]]).sort_index()
V=Qr[0].Port.unique()
T=Q.Thread.unique()
V_total_number=len(V)
T_total_number=len(T)

total_number=len(Qr[0]) #Nr

for l in range(V_total_number):
    for i in range(0,T_total_number-1):
        for j in range(i+1,T_total_number):
            Nr=len(Qr[0][(Qr[0].Thread==T[i]) & (Qr[0].Port==V[l])])
            Ns=len(Qr[0][(Qs[0].Thread==T[j]) & (Qs[0].Port==V[l])])
            sum=(Nr*Ns)
            total_number+=sum
value=0
for l in range(V_total_number):
    for i in range(0,T_total_number-1):
        for j in range(i+1,T_total_number):
            log=pd.DataFrame({})
            for loop in range(len(Qr)):
                Qr[loop]['KEY']=Qr[loop]['Thread'].astype(str)+Qr[loop]['Index'].astype(str)
                Qs[loop]['KEY']=Qs[loop]['Thread'].astype(str)+Qs[loop]['Index'].astype(str)
                Qr_event=Qr[loop][(Qr[loop].Thread==T[i]) & (Qr[loop].Port==V[l])]
                array=pd.Series([])
                for k in range(len(Qr_event)):
                    array[k]=Qs.iloc[Qr_event.iloc[k].name].KEY
                print(array)
            log=log.append(array,ignore_index=True)
        log=log[~log.duplicated()]
        value+=len(log)

Series([], dtype: float64)
Series([], dtype: float64)
Series([], dtype: float64)

C:\Users\Satoshi Fujita\anaconda3\lib\site-packages\ipykernel_launcher.py:25: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
C:\Users\Satoshi Fujita\anaconda3\lib\site-packages\ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [167]:
array=pd.Series([])

C:\Users\Satoshi Fujita\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [168]:
array[1]=1

In [170]:
Qr[loop][(Qr[loop].Thread==T[i]) & (Qr[loop].Port==V[l])]

Empty DataFrame
Columns: [ID, Thread, Port, Event, Index, KEY]
Index: []

In [172]:
V[l]

'p2'

In [173]:
Qr[loop]

   ID  Thread Port Event  Index KEY
0  r1       2   p2   res      1  21
1  r2       2   p2   res      2  22
2  r3       3   p2   res      1  31
3  r4       3   p2   res      2  32
4  r5       2   p2   res      3  23

In [174]:
T[i]

1

In [175]:
T

array([1, 2, 3, 4], dtype=int64)