In [1]:
import pandas as pd
from tqdm import tqdm
from IPython.display import display
import warnings
import pprint
import time
warnings.simplefilter('ignore')

#ファイルのインポート
import evaluation as ev
import control_structure as cs
import race
import table as tb
import init_table as init
import creating_test as test
import os_operation as _os_

RESULTS_FILE_NAME='buffer_2_deal_2' #.csvつけない

# インポートする dir
path='data_buffer2-loop2/'

# エクスポートする dir
results_path='results_buffer1_2/'



files=_os_.get_files(path)
send_files=files['send_files']
recv_files=files['recv_files']


heading_results=('Task','Buffer','TestCase','SVAR','Def-Use','Plnv')
heading=('Thread','Port','Event','Index')
pre_results=pd.DataFrame({},columns=heading_results)
new_results=pd.DataFrame({},columns=heading_results)

for file in tqdm(range(len(recv_files))):
    print('-------{}回目-------'.format(file+1))
    RECEIVE_SHEET_NAME=path+recv_files[file]
    SEND_SHEET_NAME=path+send_files[file]
    
    
    
    Qs=[pd.DataFrame({})]
    Qr=[pd.DataFrame({})]
    Qr[0]=pd.read_csv(RECEIVE_SHEET_NAME,names=heading)
    Qs[0]=pd.read_csv(SEND_SHEET_NAME,names=heading)
    
    init_tables=init.init_main(Qr,Qs)
    Qr=init_tables['Qr']
    Qs=init_tables['Qs']
    Qr_unique=init_tables['Qr_unique']
    Qs_unique=init_tables['Qs_unique']

    for way in range(2):
        if way==0:
            t_way=2
            combination=0 #0の場合は既存研究の方法、1の場合は組み合わせを考慮した手法
            ev_table=pre_results
        elif way==1:
            t_way=2
            combination=1
            ev_table=new_results
            Qr=Qr[:1]
            Qs=Qs[:1]
            Qr_unique=init_tables['Qr_unique']
            Qs_unique=init_tables['Qs_unique']
        else:
            print('プログラムを終了します') # shoudn't reach here
            break


        number=0 # 実験の回数
        check_digit=0

        race_set={}


        start = time.time()
        print("Creating race set",end='')
        race_set=race.creating_race_set(Qr,Qs,Qs_unique,race_set,combination)
        elapsed_time = time.time() - start
        print ("\nCreating race set took:{:.4g}".format(elapsed_time) + "[sec]")
        #pprint.pprint((race_set))


        start = time.time()
        print("Creating race table",end='')
        table=tb.construct_race_table(Qs,Qr,Qs_unique,Qr_unique,race_set,t_way)
        if t_way>1:
            table=tb.expand_table(Qr,Qs,race_set,table,t_way,Qs_unique)
        elapsed_time = time.time() - start
        print ("\nCreating race table took:{:.4g}".format(elapsed_time) + "[sec]")
        table=table.astype('int64')

        check_digit=1

        start = time.time()
        results=test.create_new_testcase(number,check_digit,Qr,Qs,table,race_set,Qr_unique,Qs_unique)
        Qr=results['recv']
        Qs=results['send']
        elapsed_time = time.time() - start
        print ("Creating test case took:{:.4g}".format(elapsed_time) + "[sec]")
        print('The number of Test Case is {}.'.format(len(Qr)))


        evaluation=ev.evaluate(Qr,Qs)
        Q=pd.concat([Qs[0],Qr[0]]).sort_index()
        display(table)
        if way==0:
            pre_results=pre_results.append(evaluation,ignore_index=True)
        elif way==1:
            new_results=new_results.append(evaluation,ignore_index=True)
        else:
            print('error')
        
_os_.save_file(RESULTS_FILE_NAME,results_path,pre_results,new_results)

  0%|          | 0/10 [00:00<?, ?it/s]
100%|██████████| 5/5 [00:00<00:00, 73.49it/s]

-------1回目-------
finish initialize
Creating race set
Creating race set took:0.034[sec]
Creating race table.
Expanding table
...
Creating race table took:0.005028[sec]
Creating test case took:0[sec]
The number of Test Case is 1.

Empty DataFrame
Columns: []
Index: []

Creating race set
Creating race set took:0.032[sec]
Creating race table.
Expanding table
...
Creating race table took:0.007999[sec]
Creating test case took:0[sec]
The number of Test Case is 1.

Empty DataFrame
Columns: []
Index: []

 10%|█         | 1/10 [00:00<00:05,  1.69it/s]
  0%|          | 0/53 [00:00<?, ?it/s]

-------2回目-------

 36%|███▌      | 19/53 [00:00<00:00, 172.72it/s]
 55%|█████▍    | 29/53 [00:00<00:00, 137.69it/s]
 72%|███████▏  | 38/53 [00:00<00:00, 116.05it/s]
 87%|████████▋ | 46/53 [00:00<00:00, 92.31it/s]
100%|██████████| 53/53 [00:00<00:00, 89.98it/s]

finish initialize
Creating race set
Creating race set took:0.311[sec]
Creating race table....
Expanding table
........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
Creating race table took:44.62[sec]
.................................Creating test case took:22.45[sec]
The number of Test Case is 34.

,r1,r2,r3,r5,r6,r7,r9,r10,r11,r12,...,r19,r22,r23,r24,r25,r28,r30,r34,r36,r39
0,0,1,1,1,1,0,0,1,1,0,...,1,1,0,1,0,1,0,1,0,1
1,1,0,1,0,1,1,1,0,1,1,...,0,1,1,1,1,0,1,1,1,0
2,1,1,0,1,0,1,1,1,0,1,...,1,0,1,0,1,1,1,0,1,1
3,0,1,0,0,1,1,0,1,1,1,...,1,0,0,0,1,1,0,1,1,0
4,0,0,0,1,0,0,1,1,1,0,...,0,1,1,0,0,0,1,0,0,1
5,0,0,1,0,0,0,0,0,0,1,...,1,1,0,1,0,0,1,0,1,0
6,1,0,-1,0,0,0,0,0,0,0,...,0,0,1,1,1,1,0,1,0,1
7,1,0,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
8,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,1,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,1,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,1,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,1,...,0,0,-1,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,1,...,0,0,-1,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,1,...,0,0,-1,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,1,...,0,0,-1,0,0,0,0,0,0,0

Creating race set
Creating race set took:0.269[sec]
Creating race table....
Expanding table
..................................................................................................................................................................................................................
Creating race table took:9.042[sec]
.......................Creating test case took:15.22[sec]
The number of Test Case is 24.

    r1  r2  r3  r5  r6  r7  r9  r10  r11  r12  r14  r16  r19  r22  r25
0    0   1   1   1   1   0   0    1    1    0    1    0    1    0    1
1    1   0   1   0   1   1   1    0    1    1    0    1    0    1    1
2    1   1   0   1   0   1   1    1    0    1    1    1    1    0    0
3    0   1   0   0   1   1   0    1    1    1    0    0    0    1    0
4    0   0   0   1   0   0   1    1    1    0    0    1    1    1    1
5    0   0   1   0   0   0   0    0    0    1    1    1    1    1    0
6    1   0  -1   0   0   0   0    0    0    0    0    0    0    0    1
7    1   0  -1   0   0   0   0    0    0    0    0    0    0    0    0
8    0   1   0   0   0   0   0    0    0    0    0    0    0    0    0
9    0   1   0   0   0   0   0    0    0    0    0    0    0    0    0
10   0   0   0   1   0   0   0    0    0    0    0    0    0    0    0
11   0   0   0   1   0   0   0    0    0    0    0    0    0    0    0
12   0   0   0   0   1   0   0    0    0    0    0    0    0    0    0
13   0   0   0   0   1   0   0    0    0    0    0    0    0    0    0
14   0   0   0   0   0   1   0    0    0    0    0    0    0    0    0
15   0   0   0   0   0   1   0    0    0    0    0    0    0    0    0
16   0   0   0   0   0   1   0    0    0    0    0    0    0    0    0
17   0   0   0   0   0   0   1    0    0   -1    0    0    0    0    0
18   0   0   0   0   0   0   1    0    0   -1    0    0    0    0    0
19   0   0   0   0   0   0   1    0    0   -1    0    0    0    0    0
20   0   0   0   0   0   0   0    0    0    0    1    0    0    0    0
21   0   0   0   0   0   0   0    0    0    0    1    0    0    0    0
22   0   0   0   0   0   0   0    0    0    0    1    0    0    0    0

 20%|██        | 2/10 [06:23<15:21, 115.17s/it]
  0%|          | 0/11 [00:00<?, ?it/s]
100%|██████████| 11/11 [00:00<00:00, 85.94it/s]

-------3回目-------
finish initialize
Creating race set
Creating race set took:0.068[sec]
Creating race table....
Expanding table
..................................
Creating race table took:1[sec]
........Creating test case took:1.557[sec]
The number of Test Case is 9.

   r1  r2  r3  r4  r5  r6  r7
0   0   1   1   1   1   0   0
1   1   0   1   0   1   1   1
2   1   1   0   1   0   1   1
3   0   1   0   0   1   1   0
4   0   0   0   1   0   0   1
5   0   0   1   0   0   0   0
6   1   0   0  -1  -1   0   0
7   1   0   0  -1  -1   0   0

Creating race set
Creating race set took:0.053[sec]
Creating race table....
Expanding table
...............
Creating race table took:0.2[sec]
.....Creating test case took:0.6274[sec]
The number of Test Case is 6.

   r1  r2  r3  r4
0   0   1   1   1
1   1   0   1   0
2   1   1   0   1
3   0   1   0   0
4   0   0   0   1

 30%|███       | 3/10 [06:31<09:41, 83.10s/it]
  0%|          | 0/16 [00:00<?, ?it/s]
100%|██████████| 16/16 [00:00<00:00, 111.11it/s]

-------4回目-------
finish initialize
Creating race set
Creating race set took:0.07596[sec]
Creating race table....
Expanding table
.......................................
Creating race table took:0.914[sec]
........Creating test case took:1.76[sec]
The number of Test Case is 9.

   r1  r2  r3  r5  r6  r9  r10
0   0   1   1   1   1   0    0
1   1   0   1   0   1   1    1
2   1   1   0   1   0   1    1
3   0   1   0   0   1   1    0
4   0   0   0   1   0   0    1
5   0   0   1  -1   0   0    0
6   1   0   0   0  -1   0    0
7   1   0   0   0  -1   0    0

Creating race set
Creating race set took:0.252[sec]
Creating race table....
Expanding table
....................
Creating race table took:0.42[sec]
.....Creating test case took:1.585[sec]
The number of Test Case is 6.

   r1  r2  r3  r5
0   0   1   1   1
1   1   0   1   0
2   1   1   0   1
3   0   1   0   0
4   0   0   0   1

 40%|████      | 4/10 [06:51<06:26, 64.35s/it]
  0%|          | 0/21 [00:00<?, ?it/s]
 57%|█████▋    | 12/21 [00:00<00:00, 109.09it/s]

-------5回目-------

100%|██████████| 21/21 [00:00<00:00, 67.09it/s]

finish initialize
Creating race set
Creating race set took:0.192[sec]
Creating race table....
Expanding table
....................................
Creating race table took:1.326[sec]
........Creating test case took:2.546[sec]
The number of Test Case is 9.

   r1  r2  r6  r7  r8  r12
0   0   1   1   1   1    0
1   1   0   1   0   1    1
2   1   1   0   1   0    1
3   0   1  -1   0   0    1
4   0   0   0   1   1    0
5   0   0   1   0   0    0
6   1   0   0  -1  -1    0
7   1   0   0  -1  -1    0

Creating race set
Creating race set took:0.131[sec]
Creating race table....
Expanding table
.........................
Creating race table took:0.255[sec]
.....Creating test case took:1.154[sec]
The number of Test Case is 6.

   r1  r2  r6  r7
0   0   1   1   1
1   1   0   1   0
2   1   1   0   1
3   0   1  -1   0
4   0   0   0   1

 50%|█████     | 5/10 [07:13<04:18, 51.63s/it]
  0%|          | 0/27 [00:00<?, ?it/s]
 67%|██████▋   | 18/27 [00:00<00:00, 165.14it/s]

-------6回目-------

100%|██████████| 27/27 [00:00<00:00, 94.08it/s]

finish initialize
Creating race set
Creating race set took:0.122[sec]
Creating race table....
Expanding table
..........................................................................................................................................
Creating race table took:8.874[sec]
.......................Creating test case took:12.71[sec]
The number of Test Case is 24.

    r1  r2  r3  r6  r7  r8  r9  r10  r12  r13  r14  r15  r18
0    0   1   1   1   1   0   0    1    1    0    1    0    1
1    1   0   1   0   1   1   1    0    1    1    0    1    0
2    1   1   0   1   0   1   1    1    0    1    1    1    1
3    0   1   0   0   1   1   0    1    1    1    0    0    0
4    0   0   0   1   0   0   1    1    1    0    0    1    1
5    0   0   1   0   0   0   0    0    0    1    1    1    1
6    1   0   0   0   0   0   0    0    0    0    0    0    0
7    1   0   0   0   0   0   0    0    0    0    0    0    0
8    0   1   0   0   0   0   0    0    0    0    0    0    0
9    0   1   0   0   0   0   0    0    0    0    0    0    0
10   0   0   0   1   0   0   0    0    0    0    0    0    0
11   0   0   0   1   0   0   0    0    0    0    0    0    0
12   0   0   0   0   1   0   0    0    0    0    0    0    0
13   0   0   0   0   1   0   0    0    0    0    0    0    0
14   0   0   0   0   0   1   0    0    0    0    0    0    0
15   0   0   0   0   0   1   0    0    0    0    0    0    0
16   0   0   0   0   0   1   0    0    0    0    0    0    0
17   0   0   0   0   0   0   1    0    0    0    0    0    0
18   0   0   0   0   0   0   1    0    0    0    0    0    0
19   0   0   0   0   0   0   1    0    0    0    0    0    0
20   0   0   0   0   0   0   0    0    0    0    1    0    0
21   0   0   0   0   0   0   0    0    0    0    1    0    0
22   0   0   0   0   0   0   0    0    0    0    1    0    0

Creating race set
Creating race set took:0.376[sec]
Creating race table....
Expanding table
..........................................................
Creating race table took:2.523[sec]
............Creating test case took:4.693[sec]
The number of Test Case is 13.

    r1  r2  r3  r6  r7  r8  r12  r13
0    0   1   1   1   1   0    0    1
1    1   0   1   0   1   1    1    0
2    1   1   0   1   0   1    1    1
3    0   1   0   0   1   1    0    1
4    0   0   0   1   0   0    1    1
5    0   0   1   0   0   0    0    0
6    1   0   0   0   0   0    0    0
7    1   0   0   0   0   0    0    0
8    0   1   0   0   0   0    0    0
9    0   1   0   0   0   0    0    0
10   0   0   0   1   0   0    0    0
11   0   0   0   1   0   0    0    0

 60%|██████    | 6/10 [08:58<04:30, 67.59s/it]

-------7回目-------

  0%|          | 0/32 [00:00<?, ?it/s]
 31%|███▏      | 10/32 [00:00<00:00, 63.27it/s]
 50%|█████     | 16/32 [00:00<00:00, 58.26it/s]
 62%|██████▎   | 20/32 [00:00<00:00, 48.27it/s]
 72%|███████▏  | 23/32 [00:00<00:00, 29.41it/s]
 81%|████████▏ | 26/32 [00:00<00:00, 24.81it/s]
 91%|█████████ | 29/32 [00:00<00:00, 20.00it/s]
100%|██████████| 32/32 [00:01<00:00, 28.49it/s]

finish initialize
Creating race set
Creating race set took:0.358[sec]
Creating race table....
Expanding table
......................................................................................................................................................................
Creating race table took:11.19[sec]
.......................Creating test case took:11.71[sec]
The number of Test Case is 24.

    r1  r2  r3  r5  r6  r7  r9  r10  r12  r13  r14  r17  r18  r22
0    0   1   1   1   1   0   0    1    1    0    1    0    1    0
1    1   0   1   0   1   1   1    0    1    1    0    1    0    1
2    1   1   0   1   0   1   1    1    0    1    1    1    1    0
3    0   1   0   0   1   1   0    1    1    1    0    0    0    1
4    0   0   0   1   0   0   1    1    1    0    0    1    1    1
5    0   0   1   0   0   0   0    0    0    1    1    1    1    1
6    1   0   0   0   0   0   0    0    0    0    0    0    0    0
7    1   0   0   0   0   0   0    0    0    0    0    0    0    0
8    0   1   0   0   0   0   0    0    0    0    0    0    0    0
9    0   1   0   0   0   0   0    0    0    0    0    0    0    0
10   0   0   0   1   0   0   0    0    0    0    0    0    0    0
11   0   0   0   1   0   0   0    0    0    0    0    0    0    0
12   0   0   0   0   1   0   0    0    0    0    0    0    0    0
13   0   0   0   0   1   0   0    0    0    0    0    0    0    0
14   0   0   0   0   0   1   0    0    0    0    0    0    0    0
15   0   0   0   0   0   1   0    0    0    0    0    0    0    0
16   0   0   0   0   0   1   0    0    0    0    0    0    0    0
17   0   0   0   0   0   0   1    0    0    0    0    0    0    0
18   0   0   0   0   0   0   1    0    0    0    0    0    0    0
19   0   0   0   0   0   0   1    0    0    0    0    0    0    0
20   0   0   0   0   0   0   0    0    0    0    1    0    0    0
21   0   0   0   0   0   0   0    0    0    0    1    0    0    0
22   0   0   0   0   0   0   0    0    0    0    1    0    0    0

Creating race set
Creating race set took:0.203[sec]
Creating race table....
Expanding table
...............................................................
Creating race table took:2.228[sec]
............Creating test case took:5.082[sec]
The number of Test Case is 13.

    r1  r2  r3  r5  r6  r7  r9  r12
0    0   1   1   1   1   0   0    1
1    1   0   1   0   1   1   1    0
2    1   1   0   1   0   1   1    1
3    0   1   0   0   1   1   0    1
4    0   0   0   1   0   0   1    1
5    0   0   1   0   0   0   0    0
6    1   0   0   0   0   0   0    0
7    1   0   0   0   0   0   0    0
8    0   1   0   0   0   0   0    0
9    0   1   0   0   0   0   0    0
10   0   0   0   1   0   0   0    0
11   0   0   0   1   0   0   0    0

 70%|███████   | 7/10 [10:50<04:02, 80.71s/it]
  0%|          | 0/37 [00:00<?, ?it/s]

-------8回目-------

 43%|████▎     | 16/37 [00:00<00:00, 148.14it/s]
 59%|█████▉    | 22/37 [00:00<00:00, 99.75it/s]
 76%|███████▌  | 28/37 [00:00<00:00, 78.63it/s]
100%|██████████| 37/37 [00:00<00:00, 67.40it/s]

finish initialize
Creating race set
Creating race set took:0.147[sec]
Creating race table....
Expanding table
....................................................................................................................................................
Creating race table took:6.744[sec]
.......................Creating test case took:10.99[sec]
The number of Test Case is 24.

    r1  r2  r3  r4  r5  r10  r11  r12  r13  r14  r20  r23  r24
0    0   1   1   1   1    0    0    1    1    0    1    0    1
1    1   0   1   0   1    1    1    0    1    1    0    1    0
2    1   1   0   1   0    1    1    1    0    1    1    1    1
3    0   1   0   0   1    1    0    1    1    1    0    0    0
4    0   0   0   1   0    0    1    1    1    0    0    1    1
5    0   0   1   0   0    0    0    0    0    1    1    1    1
6    1   0   0   0   0    0    0    0    0    0    0    0    0
7    1   0   0   0   0    0    0    0    0    0    0    0    0
8    0   1   0   0   0   -1    0    0    0    0    0    0    0
9    0   1   0   0   0   -1    0    0    0    0    0    0    0
10   0   0   0   1   0    0    0    0    0    0    0    0    0
11   0   0   0   1   0    0    0    0    0    0    0    0    0
12   0   0   0   0   1    0    0    0    0    0    0    0    0
13   0   0   0   0   1    0    0    0    0    0    0    0    0
14   0   0   0   0   0    1    0    0    0    0    0    0    0
15   0   0   0   0   0    1    0    0    0    0    0    0    0
16   0   0   0   0   0    1    0    0    0    0    0    0    0
17   0   0   0   0   0    0    1    0    0    0    0    0    0
18   0   0   0   0   0    0    1    0    0    0    0    0    0
19   0   0   0   0   0    0    1    0    0    0    0    0    0
20   0   0   0   0   0    0    0    0    0    0    1    0    0
21   0   0   0   0   0    0    0    0    0    0    1    0    0
22   0   0   0   0   0    0    0    0    0    0    1    0    0

Creating race set
Creating race set took:0.166[sec]
Creating race table....
Expanding table
....................................................................
Creating race table took:1.588[sec]
............Creating test case took:5.244[sec]
The number of Test Case is 13.

    r1  r2  r3  r4  r5  r10  r11  r13
0    0   1   1   1   1    0    0    1
1    1   0   1   0   1    1    1    0
2    1   1   0   1   0    1    1    1
3    0   1   0   0   1    1    0    1
4    0   0   0   1   0    0    1    1
5    0   0   1   0   0    0    0    0
6    1   0   0   0   0    0    0    0
7    1   0   0   0   0    0    0    0
8    0   1   0   0   0   -1    0    0
9    0   1   0   0   0   -1    0    0
10   0   0   0   1   0    0    0    0
11   0   0   0   1   0    0    0    0

 80%|████████  | 8/10 [12:58<03:09, 94.95s/it]
  0%|          | 0/43 [00:00<?, ?it/s]

-------9回目-------

 44%|████▍     | 19/43 [00:00<00:00, 184.48it/s]
 63%|██████▎   | 27/43 [00:00<00:00, 124.50it/s]
 79%|███████▉  | 34/43 [00:00<00:00, 100.49it/s]
100%|██████████| 43/43 [00:00<00:00, 87.57it/s]

finish initialize
Creating race set
Creating race set took:0.187[sec]
Creating race table....
Expanding table
..........................................................................................................................................................
Creating race table took:5.994[sec]
.......................Creating test case took:11.48[sec]
The number of Test Case is 24.

    r1  r2  r3  r4  r5  r12  r13  r14  r15  r16  r17  r23  r25
0    0   1   1   1   1    0    0    1    1    0    1    0    1
1    1   0   1   0   1    1    1    0    1    1    0    1    0
2    1   1   0   1   0    1    1    1    0    1    1    1    1
3    0   1   0   0   1    1    0    1    1    1    0    0    0
4    0   0   0   1   0    0    1    1    1    0    0    1    1
5    0   0   1   0   0    0    0    0    0    1    1    1    1
6    1   0   0   0   0    0    0    0    0    0    0    0    0
7    1   0   0   0   0    0    0    0    0    0    0    0    0
8    0   1   0   0   0    0    0    0    0    0    0    0    0
9    0   1   0   0   0    0    0    0    0    0    0    0    0
10   0   0   0   1   0    0    0    0    0    0    0    0    0
11   0   0   0   1   0    0    0    0    0    0    0    0    0
12   0   0   0   0   1    0    0    0    0    0    0    0    0
13   0   0   0   0   1    0    0    0    0    0    0    0    0
14   0   0   0   0   0    1    0    0    0    0    0    0    0
15   0   0   0   0   0    1    0    0    0    0    0    0    0
16   0   0   0   0   0    1    0    0    0    0    0    0    0
17   0   0   0   0   0    0    1    0    0    0    0    0    0
18   0   0   0   0   0    0    1    0    0    0    0    0    0
19   0   0   0   0   0    0    1    0    0    0    0    0    0
20   0   0   0   0   0    0    0    0    0    0    1    0    0
21   0   0   0   0   0    0    0    0    0    0    1    0    0
22   0   0   0   0   0    0    0    0    0    0    1    0    0

Creating race set
Creating race set took:0.183[sec]
Creating race table....
Expanding table
..........................................................................
Creating race table took:1.543[sec]
............Creating test case took:11.29[sec]
The number of Test Case is 13.

    r1  r2  r3  r4  r5  r12  r15  r16
0    0   1   1   1   1    0    0    1
1    1   0   1   0   1    1    1    0
2    1   1   0   1   0    1    1    1
3    0   1   0   0   1    1    0    1
4    0   0   0   1   0    0    1    1
5    0   0   1   0   0    0    0    0
6    1   0   0   0   0    0    0    0
7    1   0   0   0   0    0    0    0
8    0   1   0   0   0    0    0    0
9    0   1   0   0   0    0    0    0
10   0   0   0   1   0    0    0    0
11   0   0   0   1   0    0    0    0

 90%|█████████ | 9/10 [16:18<02:06, 126.58s/it]
  0%|          | 0/48 [00:00<?, ?it/s]

-------10回目-------

 46%|████▌     | 22/48 [00:00<00:00, 207.55it/s]
 67%|██████▋   | 32/48 [00:00<00:00, 156.18it/s]
 83%|████████▎ | 40/48 [00:00<00:00, 98.94it/s]
100%|██████████| 48/48 [00:00<00:00, 93.20it/s]

finish initialize
Creating race set
Creating race set took:0.261[sec]
Creating race table....
Expanding table
......................................................................................................................................................................................
Creating race table took:10.08[sec]
.......................Creating test case took:17.34[sec]
The number of Test Case is 24.

    r1  r2  r3  r4  r5  r6  r13  r14  r15  r16  r17  r25  r26  r28
0    0   1   1   1   1   0    0    1    1    0    1    0    1    0
1    1   0   1   0   1   1    1    0    1    1    0    1    0    1
2    1   1   0   1   0   1    1    1    0    1    1    1    1    0
3    0   1   0   0   1   1    0    1    1    1    0    0    0    1
4    0   0   0   1   0   0    1    1    1    0    0    1    1    1
5    0   0   1   0   0   0    0    0    0    1    1    1    1    1
6    1   0   0   0   0   0    0    0    0    0    0    0    0    0
7    1   0   0   0   0   0    0    0    0    0    0    0    0    0
8    0   1   0   0   0   0    0    0    0    0    0    0    0    0
9    0   1   0   0   0   0    0    0    0    0    0    0    0    0
10   0   0   0   1   0   0    0    0    0    0    0    0    0    0
11   0   0   0   1   0   0    0    0    0    0    0    0    0    0
12   0   0   0   0   1   0    0    0    0    0    0    0    0    0
13   0   0   0   0   1   0    0    0    0    0    0    0    0    0
14   0   0   0   0   0   1    0    0    0    0    0    0    0    0
15   0   0   0   0   0   1    0    0    0    0    0    0    0    0
16   0   0   0   0   0   1    0    0    0    0    0    0    0    0
17   0   0   0   0   0   0    1    0    0    0    0    0    0    0
18   0   0   0   0   0   0    1    0    0    0    0    0    0    0
19   0   0   0   0   0   0    1    0    0    0    0    0    0    0
20   0   0   0   0   0   0    0    0    0    0    1    0    0    0
21   0   0   0   0   0   0    0    0    0    0    1    0    0    0
22   0   0   0   0   0   0    0    0    0    0    1    0    0    0

Creating race set
Creating race set took:0.376[sec]
Creating race table....
Expanding table
...............................................................................
Creating race table took:1.948[sec]
............Creating test case took:10.02[sec]
The number of Test Case is 13.

    r1  r2  r3  r4  r5  r6  r13  r15
0    0   1   1   1   1   0    0    1
1    1   0   1   0   1   1    1    0
2    1   1   0   1   0   1    1    1
3    0   1   0   0   1   1    0    1
4    0   0   0   1   0   0    1    1
5    0   0   1   0   0   0    0    0
6    1   0   0   0   0   0    0    0
7    1   0   0   0   0   0    0    0
8    0   1   0   0   0   0    0    0
9    0   1   0   0   0   0    0    0
10   0   0   0   1   0   0    0    0
11   0   0   0   1   0   0    0    0

100%|██████████| 10/10 [20:10<00:00, 121.03s/it]

In [3]:
r_last_index=len(Qr_unique)+1 #それぞれの新しいインデックスを付与するための変数→初期化
s_last_index=len(Qs_unique)+1 #+1で新しいindexをそのまま付与
for number in range(0,len(table)):
    print(".",end='')
    Qs.append(pd.DataFrame({}))
    Qr.append(pd.DataFrame({}))
    Qs[number+1]=Qs[0].copy()
    Qr[number+1]=Qr[0].copy()
    columns=list(table.columns)
    for key in range(0,len(columns)): # 列方向のループr1→r3
        if table.iloc[number][columns[key]]>0: #race_set の交換

            #Q[i+1]のテーブルを修正
            change_event=Qr[number+1][Qr[number+1]['ID']==columns[key]].iloc[0].ID # receiveの交換するやつr3
            change_event_number=Qr[number+1][Qr[number+1]['ID']==columns[key]].iloc[0].name #r3の行番号→2
            try:
                new_partner=race_set[Qr[number+1][Qr[number+1]['ID']==columns[key]].iloc[0].ID][int(table.iloc[number][columns[key]])-1] #sendの新しいパートナー s4
                new_partner_number=Qs[number+1][Qs[number+1]['ID']==new_partner].iloc[0].name #s4の行番号→3
            except:
                continue


            ## QSのindexを振りなおす処理
            new_index=[]
            for j in range(0,len(Qr[number+1])):
                if j==change_event_number:
                    new_index.append(new_partner_number)
                elif j==new_partner_number:
                    new_index.append(change_event_number)
                else:
                    new_index.append(j)

            Qs[number+1]['new_index']=new_index
            Qs[number+1]=Qs[number+1].set_index('new_index')
            Qs[number+1].sort_index(inplace=True)


            #==========Qrの重複追加作業=================

    for index,row in Qr[number+1].iterrows():
        results=cs.cstruct(Qr,Qs,Qr[number+1].iloc[index],[],check_digit,number,Qs_unique)
        judge=False
        if results: #空だったらnot 
            for index2,row2 in Qr_unique.iterrows():
                if results==Qr_unique.at[index2,'cstruct']:
                    new_index=index2
                    judge=True
                    break
            if not judge: #Falseだったら判定
                Qr[number+1].at[index,'ID']='r'+str(r_last_index)
                #Qr[number+1].at[index,'cstruct']=results
                r_last_index+=1
                temp=list(Qr[number+1].iloc[index])
                temp.append(results)
                try:
                    temp=pd.Series(temp,index=Qr_unique.columns,name=len(Qr_unique))
                except:
                    temp=pd.Series(temp,index=Qr_unique.columns[1:],name=len(Qr_unique))
                #temp=pd.DataFrame(,columns=Qr_unique.columns)
                #Qr_unique.append(temp,ignore_index=False)
                #pd.concat([Qr_unique,temp],axis=0)
                Qr_unique.loc[len(Qr_unique)]=temp
            else:
                Qr[number+1].iloc[index]=Qr_unique.iloc[new_index]
        else:
            pass

.

ValueError: Length of passed values is 7, index implies 5.

In [4]:
init_tables['Qs_unique']

['r186',
 'T3',
 18626528,
 'recv',
 5,
 'T3-5',
 ['r54', 's16', 's15', 'r2', 's2', 'r62', 's29', 's1', 's28', 'r63', 's14']]

In [7]:
init_tables['Qs_unique']

     ID Thread      Port Event  Index                    cstruct
0    s1     T2  18626380  send      1
1    s2     T4  18626528  send      1
2    s3    T10  18626528  send      1
3    s4     T6  18626380  send      1
4    s5     T6  18626528  send      2                       [s4]
5    s6    T12  18626380  send      1
6    s7    T12  18626528  send      2                       [s6]
7    s8     T8  18626380  send      1
8    s9    T14  18626380  send      1
9   s10    T16  18626528  send      1
10  s11    T18  18626380  send      1
11  s12    T18  18626528  send      2                      [s11]
12  s13    T20  18626380  send      1
13  s14     T2  18626380  send      2                       [s1]
14  s15     T2  18626528  send      3                  [s14, s1]
15  s16     T4  18626380  send      2                       [s2]
16  s17    T10  18626380  send      2                       [s3]
17  s18     T6  18626528  send      3                   [s4, s5]
18  s19    T12  18626528  send      3                   [s6, s7]
19  s20     T8  18626380  send      2                       [s8]
20  s21     T8  18626528  send      3                  [s8, s20]
21  s22    T14  18626380  send      2                       [s9]
22  s23    T14  18626528  send      3                  [s22, s9]
23  s24    T16  18626380  send      2                      [s10]
24  s25    T18  18626528  send      3                 [s11, s12]
25  s26    T20  18626380  send      2                      [s13]
26  s27    T20  18626528  send      3                 [s13, s26]
27  s28     T2  18626528  send      4             [s14, s15, s1]
28  s29     T4  18626380  send      3                  [s2, s16]
29  s30     T4  18626528  send      4             [s2, s16, s29]
30  s31    T10  18626380  send      3                  [s3, s17]
31  s32    T10  18626528  send      4             [s31, s3, s17]
32  s33     T6  18626380  send      4              [s5, s18, s4]
33  s34    T12  18626380  send      4              [s6, s7, s19]
34  s35     T8  18626528  send      4             [s21, s20, s8]
35  s36    T14  18626528  send      4             [s22, s23, s9]
36  s37    T16  18626380  send      3                 [s10, s24]
37  s38    T16  18626528  send      4            [s37, s10, s24]
38  s39    T18  18626380  send      4            [s11, s25, s12]
39  s40    T20  18626528  send      4            [s27, s13, s26]
40  s41     T2  18626380  send      5        [s28, s15, s14, s1]
41  s42     T4  18626528  send      5        [s2, s16, s30, s29]
42  s43    T10  18626528  send      5        [s31, s3, s32, s17]
43  s44     T6  18626380  send      5         [s33, s4, s5, s18]
44  s45     T6  18626528  send      6    [s33, s4, s5, s18, s44]
45  s46    T12  18626380  send      5         [s6, s19, s34, s7]
46  s47    T12  18626528  send      6    [s34, s7, s19, s6, s46]
47  s48     T8  18626380  send      5        [s35, s8, s21, s20]
48  s49    T14  18626380  send      5        [s22, s36, s23, s9]
49  s50    T16  18626528  send      5       [s37, s10, s24, s38]
50  s51    T18  18626380  send      5       [s11, s25, s12, s39]
51  s52    T18  18626528  send      6  [s11, s25, s51, s12, s39]
52  s53    T20  18626380  send      5       [s13, s27, s40, s26]

In [8]:
combination_table

NameError: name 'combination_table' is not defined

In [9]:
temp=list(Qr[number+1].iloc[index])

In [10]:
temp

['r186', 'T3', 18626528, 'recv', 5, 'T3-5']

In [11]:
temp[:5]

['r186', 'T3', 18626528, 'recv', 5]