In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import re
from IPython.display import display

def cstruct(event,results):
    global Q
    global Qs
    global Qr
    global check_digit
    
    if check_digit==0:
        magic=0
    else:
        magic=1
    
    thread=event['Thread']
    index=event['Index']
       
    if index==1:
        return ''
    for i in range(index-1,0,-1):
        try:
            temp=Qr[number+magic][(Qr[number+magic].Thread == thread) & (Qr[number+magic].Index==i)].iloc[0]
        except:
            temp=Qs[number+magic][(Qs[number+magic].Thread == thread) & (Qs[number+magic].Index==i)].iloc[0]
        if temp['Event']=='send':
            results.append(temp['ID'])
            event=temp
            results.extend(cstruct(event,results))
        else:
            results.append(temp['ID'])
            send=Qs[number+magic].loc[temp.name]
            results.append(send['ID'])
            results.extend(cstruct(send,results))
    return list(set(results))

## raceの重複判定のためのc-struct


    
def no_index(start,finish,t,event,R):
    #if type(event)==int:
    #    event=Qr[(Qr.ID==R[finish])].iloc[0]
    for l in range(start,finish):
        if t[l]>0 and R[l] in cstruct(event,[]):
            return True
        else:
            continue
    return False

    

def construct_race_table(Q,Qs,Qr,race_set):
    R=[] #create race_set
    D=[] #number of race_set
    heading=[] #{r1,r2,....r}

    R.append('')
    D.append('')
    heading.append('dummy')
    # set R,D
    for key in race_set.keys():
        if len(race_set[key])>0 and Q[Q['ID']==key].iloc[0].coler=='white':
            R.append(key) # raceのあるイベントを追加
            D.append(len(race_set[key])) #raceの数を追加
            heading.append(key) # r
    table=pd.DataFrame([],columns=heading)

    t=np.zeros(len(R)) #raceの数分の配列 #t[0]はダミー

    while True:

        results=[]

        max_index=''
        for i in range(len(t)-1,0,-1):
            if t[i]<D[i] and t[i]!=-1:
                max_index=i
                break
        if max_index=='':
            break
        t[i]+=1

        if t[i]==1: #just changed t[i] from 0 to 1

            for j in tqdm(range(i+1,len(R))):
                if t[j]!=-1 and (Qr[Qr.ID==R[i]].iloc[0].ID in cstruct(Qr[Qr.ID==R[j]].iloc[0],[])):

                    t[j]=-1

        for j in tqdm(range(i+1,len(R))):
            if(t[j]==D[j]):
                t[j]=0 #just change t[j] from dj to 0

                for k in tqdm(range(j+1,len(R))):
                    if t[k]==-1 and Qr[Qr.ID==R[j]].iloc[0].ID in cstruct(Qr[Qr.ID==R[k]].iloc[0],[]) and no_index(1,k,t,Qr[(Qr.ID==R[k])].iloc[0],R):
                        t[k]=0
        #let s be the t[i] sending event in race_set(ri)
        s= race_set[R[i]][int(t[i])-1] 


        if no_index(1,len(R)-1,t,Qs[(Qs.ID==s)].iloc[0],R)==False:
            table=table.append(pd.Series(t,index=table.columns),ignore_index=True)
    return table.drop('dummy',axis=1)

In [2]:

def remove_race(race1,race2): #race_set(r,Q)=race_set(r,Q)-race_set(r,V)
    for key1 in race1.keys():
        try:
            dup=list(set(race1[key1] + race2[key1]))
            print(dup)
            for index in range(len(dup)):
                race1[key1].remove(dup[index])
        except Exception as e:
            print(e)
            continue
    return race1


variants=''
V=[]
#variants=GenerateVariants(Q,V0)

#race_set[0]={'r1':['s2'],'r2':[],'r3':['s4'],'r4':[]}
#race_set[1]={'r1':['s2'],'r2':[],'r3':['s4'],'r4':[]}

#while !variants:

In [16]:
#============ここから定義============

number=0 # 実験の回数
heading_res=('Thread','Port','Event','Index')
heading_snd=('Thread','Port','Event','Index')

Qs=[pd.DataFrame({})]
Qr=[pd.DataFrame({})]


#Q is SYN-sequence
Qr[0]=pd.read_csv('SYN-res.csv',names=heading_res)
Qs[0]=pd.read_csv('SYN-snd.csv',names=heading_snd)


r_list=list(range(1,len(Qr[0])+1))
r_list=list(map(lambda x:'r'+str(x),r_list)) #['r1', 'r2', 'r3', 'r4']
s_list=list(range(1,len(Qs[0])+1))
s_list=list(map(lambda x:'s'+str(x),s_list)) #['s1', 's2', 's3', 's4']

Qr[0].insert(0,'ID',r_list) #attach the name of event
Qs[0].insert(0,'ID',s_list) #attach the name of event

Qr[0]['coler']='white'

Q=[pd.DataFrame({})] #Q is SYN-sequence
Q[0]=pd.merge(Qr[0],Qs[0],how='outer')

race_set=[]
race_set.append({'r1':['s2'],'r2':[],'r3':['s4'],'r4':[]})
#race_set[1]={'r1':['s2'],'r2':[],'r3':['s4'],'r4':[]}

r_list=[]
s_list=[]
check_digit=0

for i in range(0,len(Qr[0])):
    r_list.append(cstruct(Qr[0].iloc[i],[]))
    s_list.append(cstruct(Qs[0].iloc[i],[]))
#r_list.extend(s_list)
Q_unique=pd.DataFrame({})
Qr_unique=Qr[0].copy()
Qs_unique=Qs[0].copy()
Qr_unique.insert(len(Qr_unique.columns),'cstruct',r_list)
Qs_unique.insert(len(Qs_unique.columns),'cstruct',s_list)
#Q_unique=pd.merge(Qr_unique,Qs_unique,how='outer')
#Q_unique.insert(len(Qs_unique.columns),'cstruct',r_list) #保存するようのテーブル

#============ここまで定義============
r_last_index=len(Qr_unique)+1 #それぞれの新しいインデックスを付与するための変数→初期化
s_last_index=len(Qs_unique)+1 #+1で新しいindexをそのまま付与

def cstruct_check(df):
    global number
    global Qs
    global Qr
    global Q
    global r_last_index
    global s_last_index
        
    for index,row in Qr[number+1].iterrows():
        ##ここからはrの処理
        results=[]
        results=cstruct(Qr[number+1].iloc[index],[])
        judge=False

        if results: #空だったらnot 
            for index2,row2 in df.iterrows():
                if results==df.at[index2,'cstruct']:
                    new_index=index2
                    judge=True
                    break
            # Trueだったら被りあり　Falseだったら被りなし

            #共通部分の処理
            if not judge: #Falseだったら判定
                Qr[number+1].at[index,'ID']='r'+str(r_last_index)
                #Qr[number+1].at[index,'cstruct']=results
                r_last_index+=1
                temp=list(Qr[number+1].iloc[index])
                temp.append(results)
                temp=pd.Series(temp,index=Qr_temp.columns,name=len(df))
                df.loc[len(df)]=temp
                print(df)
            else:
                Qr[number+1].iloc[index]=df.iloc[new_index]
        else: #空だったらなにもしない
            pass
        '''
        ##ここからはsの処理
        results=[]
        results=cstruct(Qs[number+1].iloc[index],[])
        if results: #空だったらnot 
            for index2,row2 in Qs_unique.iterrows():
                if results==Qs_unique.at[index2,'cstruct']:
                    new_index=index2
                    judge=True
                    break
            # Trueだったら被りあり　Falseだったら被りなし
            
            #共通部分の処理
            if not judge: #Falseだったら判定
                Qs[number+1].at[index,'ID']='s'+str(s_last_index)
                #Qs[number+1].at[index,'cstruct']=results
                s_last_index+=1
                temp=list(Qs[number+1].iloc[index])
                temp.append(results)
                temp=pd.Series(temp,index=Qs_unique.columns,name=len(Qs_unique))
                Qs_unique.append(temp)
            else:
                Qs[number+1].iloc[index]=Qs_unique.iloc[new_index]
        else: #空だったらなにもしない
            pass
        return (Qr_unique,Qs_unique)
        '''
        return df


#def Generatevariants(Q,number):
#race_set[0]=remove_race(race_set[0],race_set[0])
table=construct_race_table(Q[0],Qs[0],Qr[0],race_set[0])
columns=list(table.columns)
check_digit=1


for number in range(0,len(table)):
    Q.append(pd.DataFrame({})) #新しいテーブルを作成
    Qs.append(pd.DataFrame({}))
    Qr.append(pd.DataFrame({}))
    Q[number+1]=Q[0].copy()
    Qs[number+1]=Qs[0].copy()
    Qr[number+1]=Qr[0].copy()
    for key in range(0,len(columns)): # 列方向のループr1→r3
        if table.iloc[number][columns[key]]>0: #race_set の交換
            #print(columns[key])
            #Q[i+1]のテーブルを修正
            change_event=Qr[number+1][Qr[number+1]['ID']==columns[key]].iloc[0].ID # receiveの交換するやつr3
            change_event_number=Qr[number+1][Qr[number+1]['ID']==columns[key]].iloc[0].name #r3の行番号→2
            new_partner=race_set[0][Q[number+1][Q[number+1]['ID']==columns[key]].iloc[0].ID][int(table.iloc[number][columns[key]])-1] #sendの新しいパートナー s4
            new_partner_number=Qs[number+1][Qs[number+1]['ID']==new_partner].iloc[0].name #s4の行番号→3
            
            
            ## QSのindexを振りなおす処理
            new_index=[]
            for j in range(0,len(Qr[number+1])):
                if j==change_event_number:
                    new_index.append(new_partner_number)
                elif j==new_partner_number:
                    new_index.append(change_event_number)
                else:
                    new_index.append(j)

            Qs[number+1]['new_index']=new_index
            Qs[number+1]=Qs[number+1].set_index('new_index')
            Qs[number+1].sort_index(inplace=True)
            
            Q[number+1]=pd.merge(Qr[number+1],Qs[number+1],how='outer')
            
            #==========Qrの重複追加作業=================
            
            for index,row in Qr[number+1].iterrows():
                results=cstruct(Qr[number+1].iloc[index],[])
                judge=False
                if results: #空だったらnot 
                    for index2,row2 in Qr_unique.iterrows():
                        if results==Qr_unique.at[index2,'cstruct']:
                            new_index=index2
                            judge=True
                            break
                    if not judge: #Falseだったら判定
                        Qr[number+1].at[index,'ID']='r'+str(r_last_index)
                        #Qr[number+1].at[index,'cstruct']=results
                        r_last_index+=1
                        temp=list(Qr[number+1].iloc[index])
                        temp.append(results)
                        temp=pd.Series(temp,index=Qr_unique.columns,name=len(Qr_unique))
                        #temp=pd.DataFrame(,columns=Qr_unique.columns)
                        #Qr_unique.append(temp,ignore_index=False)
                        #pd.concat([Qr_unique,temp],axis=0)
                        Qr_unique.loc[len(Qr_unique)]=temp
                        display(Qr_unique)
                    else:
                        Qr[number+1].iloc[index]=Qr_unique.iloc[new_index]
                else:
                    pass
            
            #==========Qsの重複追加作業=================
            
            
            for index,row in Qs[number+1].iterrows():
                results=cstruct(Qs[number+1].iloc[index],[])
                judge=False
                if results: #空だったらnot 
                    for index2,row2 in Qs_unique.iterrows():
                        if results==Qs_unique.at[index2,'cstruct']:
                            new_index=index2
                            judge=True
                            break
                    if not judge: #Falseだったら判定
                        Qs[number+1].at[index,'ID']='s'+str(s_last_index)
                        #Qr[number+1].at[index,'cstruct']=results
                        s_last_index+=1
                        temp=list(Qs[number+1].iloc[index])
                        temp.append(results)
                        temp=pd.Series(temp,index=Qs_unique.columns,name=len(Qs_unique))
                        #temp=pd.DataFrame(,columns=Qr_unique.columns)
                        #Qr_unique.append(temp,ignore_index=False)
                        #pd.concat([Qr_unique,temp],axis=0)
                        Qs_unique.loc[len(Qs_unique)]=temp
                        display(Qs_unique)
                    else:
                        Qs[number+1].iloc[index]=Qs_unique.iloc[new_index]
                else:
                    pass
                 
                
            #Qr_unique.append(cstruct_results[0],ignore_index=True) # 戻り値を既存の表に追加
            #Qs_unique.append(cstruct_results[1],ignore_index=True)
            
            Q[number+1]=pd.merge(Qr[number+1],Qs[number+1],how='outer')
            display(Q[number+1])

0it [00:00, ?it/s]
0it [00:00, ?it/s]
100%|██████████| 1/1 [00:00<00:00, 249.94it/s]
  0%|          | 0/1 [00:00<?, ?it/s]
0it [00:00, ?it/s]
100%|██████████| 1/1 [00:00<00:00, 166.52it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]

   ID Thread  Port Event  Index  coler                   cstruct
0  r1     T2  {p2}   res      1  white
1  r2     T2  {p2}   res      2  white                  [r1, s1]
2  r3     T3  {p3}   res      1  white
3  r4     T3  {p3}   res      2  white  [s1, s2, r1, r2, r3, s3]
4  r5     T3  {p3}   res      2  white              [s2, s4, r3]

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r2     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r5     T3  {p3}   res      2  white
4  s1     T1  {p2}  send      1    NaN
5  s2     T4  {p2}  send      1    NaN
6  s4     T4  {p3}  send      2    NaN
7  s3     T2  {p3}  send      3    NaN

   ID Thread  Port Event  Index  coler                   cstruct
0  r1     T2  {p2}   res      1  white
1  r2     T2  {p2}   res      2  white                  [r1, s1]
2  r3     T3  {p3}   res      1  white
3  r4     T3  {p3}   res      2  white  [s1, s2, r1, r2, r3, s3]
4  r5     T3  {p3}   res      2  white              [s2, s4, r3]
5  r6     T2  {p2}   res      2  white                  [r1, s2]

   ID Thread  Port Event  Index  coler                   cstruct
0  r1     T2  {p2}   res      1  white
1  r2     T2  {p2}   res      2  white                  [r1, s1]
2  r3     T3  {p3}   res      1  white
3  r4     T3  {p3}   res      2  white  [s1, s2, r1, r2, r3, s3]
4  r5     T3  {p3}   res      2  white              [s2, s4, r3]
5  r6     T2  {p2}   res      2  white                  [r1, s2]
6  r7     T3  {p3}   res      2  white  [s1, s2, r1, r3, s3, r6]

   ID Thread  Port Event  Index           cstruct
0  s1     T1  {p2}  send      1
1  s2     T4  {p2}  send      1
2  s3     T2  {p3}  send      3  [r1, s1, r2, s2]
3  s4     T4  {p3}  send      2              [s2]
4  s5     T2  {p3}  send      3  [r1, s1, r6, s2]

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r6     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r7     T3  {p3}   res      2  white
4  s2     T4  {p2}  send      1    NaN
5  s1     T1  {p2}  send      1    NaN
6  s5     T2  {p3}  send      3    NaN
7  s4     T4  {p3}  send      2    NaN

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r6     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r7     T3  {p3}   res      2  white
4  s2     T4  {p2}  send      1    NaN
5  s1     T1  {p2}  send      1    NaN
6  s5     T2  {p3}  send      3    NaN
7  s4     T4  {p3}  send      2    NaN

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r6     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r5     T3  {p3}   res      2  white
4  s2     T4  {p2}  send      1    NaN
5  s1     T1  {p2}  send      1    NaN
6  s4     T4  {p3}  send      2    NaN
7  s5     T2  {p3}  send      3    NaN

In [15]:
for i in range(len(Qr)):
    print('Qr[{}]'.format(i))
    display(Qr[i])
    print('Qs[{}]'.format(i))
    display(Qs[i])

Qr[0]

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r2     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r4     T3  {p3}   res      2  white

Qs[0]

   ID Thread  Port Event  Index
0  s1     T1  {p2}  send      1
1  s2     T4  {p2}  send      1
2  s3     T2  {p3}  send      3
3  s4     T4  {p3}  send      2

Qr[1]

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r2     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r5     T3  {p3}   res      2  white

Qs[1]

           ID Thread  Port Event  Index
new_index
0          s1     T1  {p2}  send      1
1          s2     T4  {p2}  send      1
2          s4     T4  {p3}  send      2
3          s3     T2  {p3}  send      3

Qr[2]

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r6     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r7     T3  {p3}   res      2  white

Qs[2]

           ID Thread  Port Event  Index
new_index
0          s2     T4  {p2}  send      1
1          s1     T1  {p2}  send      1
2          r5     T2  {p3}  send      3
3          s4     T4  {p3}  send      2

Qr[3]

   ID Thread  Port Event  Index  coler
0  r1     T2  {p2}   res      1  white
1  r6     T2  {p2}   res      2  white
2  r3     T3  {p3}   res      1  white
3  r5     T3  {p3}   res      2  white

Qs[3]

           ID Thread  Port Event  Index
new_index
0          s2     T4  {p2}  send      1
1          s1     T1  {p2}  send      1
2          s4     T4  {p3}  send      2
3          r5     T2  {p3}  send      3

In [10]:
Qs_unique

   ID Thread  Port Event  Index           cstruct
0  s1     T1  {p2}  send      1
1  s2     T4  {p2}  send      1
2  s3     T2  {p3}  send      3  [r1, s1, r2, s2]
3  s4     T4  {p3}  send      2              [s2]

In [29]:
Qs[number+1].iloc[index]

ID          s3
Thread      T2
Port      {p3}
Event     send
Index        3
Name: 3, dtype: object

In [189]:
p.append(p1)

    ID Thread  Port Event  Index  coler                   cstruct
0   r1     T2  {p2}   res      1  white
1   r2     T2  {p2}   res      2  white                  [s1, r1]
2   r3     T3  {p3}   res      1  white
3   r4     T3  {p3}   res      2  white  [r3, s2, r1, r2, s1, s3]
4  r11     T3  {p3}   res      2  white              [s2, r3, s4]

In [27]:
Qr_unique.cstruct=map(str,Qr_unique.cstruct)
Qr_unique

   ID Thread  Port  Index  coler                             cstruct
0  r1     T2  {p2}      1  white  <map object at 0x0000014E52C95B88>
1  r2     T2  {p2}      2  white  <map object at 0x0000014E52C95B88>
2  r3     T3  {p3}      1  white  <map object at 0x0000014E52C95B88>
3  r4     T3  {p3}      2  white  <map object at 0x0000014E52C95B88>

In [116]:
Qs[i+1][Qs[i+1].ID==race_set[0][Qr[i+1][Q[i+1]['ID']==columns[key]].iloc[0].ID][int(table.iloc[i][columns[key]])-1]].ID

C:\Users\Satoshi Fujita\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

   ID Thread  Port Event  Index
3  s4     T4  {p3}  send      2

In [37]:
index_list=[]
for i in range(0,len(Qs)):
    if i==Qr[i+1][Qr[i+1]['ID']==columns[key]].iloc[0].name:
        list.append(Qs[i+1][Qs[i+1].ID==race_set[0][Qr[i+1][Q[i+1]['ID']==columns[key]].iloc[0].ID][int(table.iloc[i][columns[key]])-1]].ID)
    else if Qs[i+1][Qs[i+1].ID==race_set[0][Qr[i+1][Q[i+1]['ID']==columns[key]].iloc[0].ID][int(table.iloc[i][columns[key]])-1]].ID

In [43]:
Q

[   ID Thread  Port  Index  coler Event
 0  r1     T2  {p2}      1  white   NaN
 1  r2     T2  {p2}      2  white   NaN
 2  r3     T3  {p3}      1  white   NaN
 3  r4     T3  {p3}      2  white   NaN
 4  s1     T1  {p2}      1    NaN  send
 5  s2     T4  {p2}      1    NaN  send
 6  s3     T2  {p3}      3    NaN  send
 7  s4     T4  {p3}      2    NaN  send]